<!DOCTYPE html>
<html lang="en">

<head>
  <title>Định giá Đơn hàng</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="../../assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
      <!-- Home button -->
      <div>
        <a class="fa fa-home" style="font-size:25px;color:dimgrey" href="/supplier"></a>
      </div>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Supplier</span>
            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/supplier">
              <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
              Trang chủ
            </a>
            <a class="dropdown-item" href="/supplier/manacontract">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí đơn hàng
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-calendar-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí kho
            </a>
            <a class="dropdown-item" href="/supplier/market">
              <i class="fas fa-shopping-cart fa-sm fa-fw mr-2 text-gray-400"></i>
              Mua sản phẩm
            </a>
            <a class="dropdown-item" href="/supplier/product">
              <i class="fas fa-shopping-bag fa-sm fa-fw mr-2 text-gray-400"></i>
              Tạo sản phẩm
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block">
                <img src="https://source.unsplash.com/random/460x410">
              </div>
              <div class="col-lg-6">
                <!-- Exit button -->
                <button class="btn btn-primary" onclick="back()"
                  style="margin-bottom: 1%;margin-top: 3%; margin-left: 89%;"> X </button>

                <h4 style="font-weight: bold; text-align:center;">Thông tin đơn hàng</h4>

                <div class="container-fluid">
                  <form action="/supplier/price" method="post">
                    <div class="form-group">
                      {{# each contracts}}
                      {{# each this}}
                      <table class="table">
                        <tr>
                          <td>Mã đơn hàng :</td>
                          <td><b>{{this._id}}</b></td>
                        </tr>
                        <tr>
                          <td>Tên sản phẩm:</td>
                          <td><b>{{this.product_id.name}}</b></td>
                        </tr>
                        <tr>
                          <td>Khách hàng:</td>
                          <td><b>{{this.customer_id.fullName}}</b></td>
                        </tr>
                      </table>
                      <input type="hidden" name="contract_id" value="{{this._id}}">
                      {{/each}}
                      {{/each}}
                    </div>
                    <div class="form-group">
                      <p><b>Tổng giá trị đơn hàng: </b></p>
                      <input type="number" min="0" class="form-control" id="price" name="price"
                        placeholder="Giá trị đơn hàng">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-left:77%; margin-bottom:5% ">
                        Xác nhận   </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function back() {
      history.back();
    }
  </script>


</body>

</html>