
.box{
  margin: 5px;
  float: left;
  width: 300px;
  text-align: center;
}
.h1{
  background-color: RoyalBlue;
}

/* Slide window animation */

.popup{
  position: absolute;
}

.slide-window{
  position: absolute;
  padding-left: 10%;
  padding-right: 10%;
  left: -100%;
  width: 100%;
  height: 100%;
  background:white;
  -webkit-animation: slide 1s forwards;
  -webkit-animation-delay: 0.5s;
  animation: slide 1s forwards;
  animation-delay: 0.5s;
}

@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
}

/* X close button */
.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.rounded {
  border-radius: 5px;
}

/* Product Card */
.wrapper {
  margin: 20px auto;
  height: auto;
  text-align: center;
  border-radius: 7px 7px 7px 7px;
  /* VIA CSS MATIC https://goo.gl/cIbnS */
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  margin: 10px auto;
  float: left;
}

.product-img img {
  border-radius: 7px 0 0 7px;
  height: auto;
  width: auto;
}
.product-info {
  float: left;
  margin: 10px auto;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text h1 {
  height: 120;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  font-size: 18px;
  height: 60px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 100px;
  text-align: left;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 60px;
  margin-top: 17px;
  position: relative;
}
  
.product-price-btn button {
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}

/* Input */
.form-input {

  width: 150px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}